---
import Layout from "../../layouts/Layout.astro";
import ReadLayout from "../../layouts/ReadLayout.astro";

import { links } from "./define-topic.js";
---

<Layout>
    <ReadLayout title="Tài liệu học Astro" links={links}>
        <h1 class="text-3xl font-bold">Nội dung chính</h1>
        <ul>
            <li>Animations: Tạo hoạt ảnh phức tạp với các keyframe.</li>
            <li>Transitions: Tạo hiệu ứng chuyển đổi mượt mà giữa các trạng thái.</li>
            <li>Filters: Áp dụng các hiệu ứng đồ họa (ví dụ: làm mờ, độ tương phản).</li>
            <li>Blend Modes: Xác định cách hai lớp nội dung hòa trộn vào nhau.</li>
        </ul>
    </ReadLayout>
</Layout>
