---
import Layout from "../../layouts/Layout.astro";
import ReadLayout from "../../layouts/ReadLayout.astro";

import { links } from "./define-topic.js";
---

<Layout>
    <ReadLayout title="Tài liệu học Astro" links={links}>
        <h1 class="text-3xl font-bold">Nội dung chính</h1>
        <ul class="list-disc pl-6">
            <li>Color: Định dạng màu sắc.</li>
            <li>Borders: Tạo và định dạng đường viền.</li>
            <li>Shadows: Thêm hiệu ứng đổ bóng cho văn bản và hộp.</li>
            <li>Gradients: Tạo dải màu chuyển tiếp.</li>
            <li>Backgrounds: Tùy chỉnh nền của phần tử.</li>
            <li>Text and typography: Định dạng văn bản và phông chữ.</li>
            <li>Lists: Tạo kiểu cho danh sách.</li>
        </ul>
        
    </ReadLayout>
</Layout>
