---
const { title = "Tài liệu", links = [] } = Astro.props;
const pathname = Astro.url.pathname;
---

<!-- Layout cha -->
<html lang="en">
    <body
        class="bg-white dark:bg-gray-900 text-black dark:text-white font-sans"
    >
        <main class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-5 gap-8">
            <!-- Sidebar 1/5 -->
            <aside class="md:col-span-1 space-y-2">
                <h2 class="text-lg font-semibold tracking-wide py-7">
                    DANH MỤC
                </h2>
                <ul class="space-y-2">
                    {
                        // @ts-ignore
                        links.map((link) => {
                            // Có thể so khớp chính xác hoặc so khớp cùng thư mục
                            const isActive = pathname.startsWith(link.href);
                            return (
                                <li>
                                    <a
                                        href={link.href}
                                        class={`block text-gray-700 dark:text-gray-300 hover:text-emerald-700 dark:hover:text-emerald-300 transition font-medium underline-offset-4 hover:underline ${
                                            isActive
                                                ? "nav-items-active"
                                                : ""
                                        }`}
                                    >
                                        {link.title}
                                    </a>
                                </li>
                            );
                        })
                    }
                </ul>
            </aside>

            <!-- Main content 4/5 -->
            <section class="md:col-span-4 space-y-8 w-full py-6">
                <slot />
            </section>
        </main>
    </body>
</html>
